﻿@model LibraryApp.Models.Data_Models.Questionary
@{
    ViewBag.Title = "Questionary";
}
@using LibraryApp.CustomHelpers

@helper CreateQuestionary()//low level
    {
        using (Html.BeginForm("Index", "Questionary", FormMethod.Post))
        {   
            @Html.ValidationSummary(true)
            <div style="margin:5px; width:100%;">
                <p style="width: 80vw">@Html.ValidationMessageFor(m => m.UserEmail)</p>
                @Html.TextBox("UserEmail", null, new { placeholder = "Enter your Email", style = " width:200px" })
                <br />
                <p style="width: 80vw">@Html.ValidationMessageFor(m => m.UserName)</p>
                @Html.TextBox("UserName", null, new { placeholder = "Enter your Name", style = " width:200px" })
                <br />
                <span>Skills:</span>
                <br />
                <div id = "skills" style="display:grid; grid-template-columns: 50px 50px; margin-left:40px; width: 100px">
                    @Html.CheckBox("HTML", false)
                    <span>HTML</span>

                    @Html.CheckBox("CSS", false)
                    <span>CSS</span>

                    @Html.CheckBox("JS", false)
                    <span>JS</span>
                </div>
                <br />
                <span>Gender:</span>
                <br />
                <ul style="margin-left:25px; width: 100px">
                    <li>
                        @Html.RadioButton("Gender", "Male", true)
                        <span>Male</span>
                    </li>
                    <li>
                        @Html.RadioButton("Gender", "Female")
                        <span>Female</span>
                    </li>
                </ul>
                <input type="submit" name="Button" value="Submit" />
            </div>
        }
    }

@CreateQuestionary()

@*@Html.CreateQuestionary()*@ @*middle*@

@*@helper CreateQustionaryInlineAndExtensionMethod()// advanced
{
    <div style="border: 1px solid red; border-radius: 5px">
        @Html.CreateQuestionary()
    </div>
}

@CreateQustionaryInlineAndExtensionMethod()*@

