﻿@model LibraryApp.Models.Data_Models.Questionary
@{
    ViewBag.Title = "QuestionaryResult";
}

    <div style="margin:5px">
        <span>User email: </span>@Model.UserEmail
        <br />
        <span>User name: </span>@Model.UserName
        <br />
        <span>Skills:</span>
        <ul style="margin-left:25px; width: 100px">
            @if (@Model.HTML == "on" || @Model.HTML == "true") 
            {
                <li><span>HTML</span></li>
            }
            @if (@Model.CSS == "on" || @Model.CSS == "true")
            {
                <li><span>CSS</span></li>
            }
            @if (@Model.JS == "on" || @Model.JS == "true")
            {
                <li><span>JS</span></li>
            }
        </ul>
        <span>Gender:</span>
        @Model.Gender
    </div>



